{% extends 'base.html' %}
{% load filter %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/main.css'%}">


<div class="container my-3">
    <!-- 페이징 기법 : 컴퓨터가 데이터를 저장하고 검색하는 메모리관리 기법
    paginator.count : 전체 게시물 개수를 가져옴
    start_index : 현재 페이지의 시작 인덱스
    end_index : 현재 페이지의 끝 인덱스
    일련번호 = 전체 게시물 개수 - 시작인덱스 - 현재인덱스 + 1
    ex)  105 - 21 - 0+1 (3번째 페이지)
     -->
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th class="text-center" >번호</th>
                <th class="text-center" style="width:50%">제목</th>
                <th class="text-center" >회원</th>
                <th class="text-center" >작성일</th>

            </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="text-center">
            <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
            <td class="text-left">
                <a href="{% url 'app1:detail' question.id %}">{{question.author.username}}님의 검사입니다.</a>
                {% if question.answer_set.count > 0 %}
                <span class="text-danger m-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </td>
            <td>{{ question.author.username }}</td>
            <td>{{ question.create_date }}</td>

        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- 페이징 처리 view 영역 21.07.09 -->
    <ul class="pagination justify-content-center">
        <!-- has_previous : 이전 페이지의 유무를 확인 -->
        {% if question_list.has_previous %}
        <li class="page-item">
            <!-- previous_page_number : 이전 페이지 번호 -->
            <a class="page-link" href="?page={{question_list.previous_page_number}}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-disabled="true" tabindex="-1"></a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 출력하기
        page_range : 페이지의 범위
        number : 현재 페이지 번호  -->
        {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-2 and page_number <= question_list.number|add:2 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{page_number}}"> {{page_number}} </a>
            </li>

            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_number}}"> {{page_number}} </a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}

        <!-- has_next : 다음 페이지의 유무를 확인 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <!-- next_page_number : 이전 페이지 번호 -->
            <a class="page-link" href="?page={{question_list.next_page_number}}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-disabled="true" tabindex="-1"></a>
        </li>
        {% endif %}

    </ul>

    <a href="{% url 'app1:question_create' %}" class="btn btn-primary"> 글 작성하기 </a>
</div>
{% endblock %}