{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
	<!--	<link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}">
-->
<!-- 21.10.22 최졔 -->
<!DOCTYPE HTML>
<html>
	<head>
		<title>다중지능검사 - 청소년 </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />

		<link href="/css/bootstrap.min.css" rel="stylesheet">

	</head>


	<body>
	<div class="container">
	<div class="header clearfix">
		<nav>
		<ul class="nav nav-pills pull-right"></ul>
		</nav>
	</div>
	<script>
		$(document).ready(function(){
		  $('#test_form').submit(function(){
			var input_names = []
			var correctly_checked = true;
			$('#test_form input:radio').each(function(){
			  var input_name = $(this).prop('name');
			  if(input_names.indexOf(input_name) < 0){
				if(!$("input:radio[name="+input_name+"]").is(":checked")){
				  correctly_checked = false;
				  alert((parseInt(input_name.substr("question".length))+1)+"번 문항이 체크되지 않았습니다.");
				  return false;
				}
				input_names.push(input_name);
			  }
			});
			if(correctly_checked == false){
			  return false;
			}
		  });
		});
		</script>
	<div id="test_context">
	<div class="container">
	<span style="font-weight:bold;">다중지능 검사 - 청소년</span>
	<p>유의사항 : 본 테스트 문답은 미국의 심리학자인 하워드 가드너가 제시한 다중지능이론을 기반으로 하여 작성되었습니다. 다중지능을 측정하기위한 본 검사는 총 56문항이 나옵니다. 각 문항마다 평소에 편하고 습관적으로 하는 것을 체크하시면 됩니다.
</p>
		<div>1점: 전혀 그렇지 않다 <   2점: 별로 그렇지 않다 <   3점: 보통이다 <   4점: 대체로 그렇다 <   5점: 매우 그렇다 <br><br><br> </div>
	<form action="{% url 'service:mul_rearer' %}" method="post" id="test_form">
		{% csrf_token %}
		<div class="form-group">

		<label>1. 취미 생활로 악기 연주나 음악감상을 즐긴다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question0" value="0">1점 </label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question0" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question0" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question0" value="3">4점</label></div>
			<div class="radio" style="display:inline"><label><input type="radio" name="question0" value="4">5점</label></div>
			<br><br>

		<label>2. 운동 경기를 보면 운동선수들의 장단점을 잘 집어낸다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question1" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question1" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question1" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question1" value="3">4점</label></div> <br><br>

		<label>3. 어떤 일이든 실험하고 검증하는 것을 좋아한다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question2" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question2" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question2" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question2" value="3">4점</label></div> <br><br>

		<label>4. 손으로 물건을 만들고, 그림을 그리는 것을 좋아한다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question3" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question3" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question3" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question3" value="3">4점</label></div> <br><br>

		<label>5. 다른 사람보다 어휘력이 풍부한 편이다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question4" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question4" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question4" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question4" value="3">4점</label></div> <br><br>

		<label>6. 친구나 가족들의 고민거리를 들어 주거나 해결하는 것을 좋아한다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question5" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question5" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question5" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question5" value="3">4점</label></div> <br><br>

		<label>7. 나 자신을 되돌아보고, 앞으로의 생활을 계획하는 것을 좋아한다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question6" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question6" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question6" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question6" value="3">4점</label></div> <br><br>

		<label>8. 자동차에 관심이 많고, 각각의 공통점과 차이점을 알고 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question7" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question7" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question7" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question7" value="3">4점</label></div> <br><br>

		<label>9. 악보를 보면 그 곡의 멜로디를 어느 정도 알 수 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question8" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question8" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question8" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question8" value="3">4점</label></div> <br><br>

		<label>10. 평소에 몸을 움직이며 활동하는 것을 좋아한다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question9" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question9" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question9" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question9" value="3">4점</label></div> <br><br>

		<label>11. 학교 다닐 때 수학이나 과학과목을 좋아했다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question10" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question10" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question10" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question10" value="3">4점</label></div> <br><br>

		<label>12. 어림짐작으로도 길이나 넓이를 비교적 잘 알아맞힌다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question11" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question11" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question11" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question11" value="3">4점</label></div> <br><br>

		<label>13. 글이나 문서를 읽을 때 문법적으로 어색한 문장을 잘 찾아낸다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question12" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question12" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question12" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question12" value="3">4점</label></div> <br><br>

		<label>14. 직장 내 성희롱이 왜 발생하고 어떻게 해결하면 좋을지 알고 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question13" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question13" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question13" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question13" value="3">4점</label></div> <br><br>

		<label>15. 나의 건강 상태나 기분, 컨디션을 정확히 파악할 수 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question14" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question14" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question14" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question14" value="3">4점</label></div> <br><br>

		<label>16. 옷이나 가방을 보면 어떤 브랜드인지 바로 알아맞힐 수 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question15" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question15" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question15" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question15" value="3">4점</label></div> <br><br>

		<label>17. 다른 사람의 연주나 노래를 들으면 어떤 점이 부족한지 알 수 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question16" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question16" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question16" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question16" value="3">4점</label></div> <br><br>

		<label>18. 어떤 운동이라도 한두번 해보면 잘 할 수 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="3">4점</label></div> <br><br>

			<label>19. 다른 사람의 말 속에서 비논리적인 점을 잘 찾아낸다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="3">4점</label></div> <br><br>

			<label>20. 다른 사람의 그림을 보고 평가를 잘 할 수 있다.</label><br>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="0">1점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="1">2점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="2">3점</label></div>
		<div class="radio" style="display:inline"><label><input type="radio" name="question17" value="3">4점</label></div> <br><br>

			<textarea cols="60" rows="10"  placeholder="전문가한테 남기고 싶은 의견을 작성하세요."></textarea>
<input class="btn btn-primary btn-sm" type="submit" value="저장하기"> <br><br>

<input class="btn btn-primary btn-sm" type="submit" value="다음페이지로 이동"> <br><br>


		<br><br><br><br>
			<a href="{% url 'service:mul_rearer' %}"  class="btn btn-primary btn-sm" type="submit">양육자 다중지능 검사 바로가기</a>


	</label>


	</div>


	</form>

	</div>
		<footer class="footer">
			<br>
			<p>&copy; 탐나는 친구들</p>
		</footer>
	</div>

	</body>
</html>
{% endblock %}